<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Calculator</title>
  </head>
  <body>
    <h1>This is a very good calculator app!</h1>
    <h2>Easy to use and reliable</h2>
    <form action="/calc" method="post">
      <p>Fill this form and submit:</p>
      <label>
        what to do??:
        <input type="text" name="what_to_do" placeholder="add, minus, etc." value="add" />
      </label>
      <br /><br />

      <label>
        First num:
        <input type="text" name="first_num" placeholder="enter first num." value="10" />
      </label>
      <br /><br />

      <label>
        Second num:
        <input type="text" name="second_num" placeholder="enter sec num" value="2" />
      </label>
      <br /><br />

      <input type="submit" value="Submit the form" />
    </form>
  </body>
</html>
