<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Course</title>
  </head>
  <body>
    <a href="/">Go back</a>
    <h1>Add a new course</h1>
    <form action="/add/course" method="post">
      <label>
        Course Name:
        <input type="text" name="name" />
      </label>

      <label>
        Credits:
        <input type="text" name="credits" />
      </label>
      <input type="submit" value="Add Course" />
    </form>
  </body>
</html>
