<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Management</title>
    <style>
      body {
        margin: 20px;
        padding: 5px;
      }
      h1 {
        text-align: center;
        color: palevioletred;
      }

      h2 {
        text-align: center;
        color: blueviolet;
      }

      table {
        text-align: center;
        border: 5px solid orchid;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to School Management App</h1>

    <section>
      <h2>List of Students:</h2>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Place</th>
          <th>Age</th>
        </tr>
        {% for id, student in students.items() %}
        <tr>
          <td>{{id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.place}}</td>
          <td>{{student.age}}</td>
        </tr>
        {% endfor %}
      </table>
      <br />
      <a href="/add/student">Add a new student</a>
    </section>

    <section>
      <h2>List of Courses:</h2>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Credits</th>
        </tr>
        {% for id, course in courses.items() %}
        <tr>
          <td>{{id}}</td>
          <td>{{course.name}}</td>
          <td>{{course.credits}}</td>
        </tr>
        {% endfor %}
      </table>
      <br />
      <a href="/add/course">Add a new course</a>
    </section>

    <section>
      <h2>List of Enrolls:</h2>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Student ID</th>
          <th>Course ID</th>
          <th>Term</th>
          <th>Year</th>
        </tr>
        {% for id, enroll in enrolls.items() %}
        <tr>
          <td>{{id}}</td>
          <td>{{enroll.student_id}}</td>
          <td>{{enroll.course_id}}</td>
          <td>{{enroll.term}}</td>
          <td>{{enroll.year}}</td>
        </tr>
        {% endfor %}
      </table>
      <br />
      <a href="/add/enroll">Add a new enroll</a>
    </section>
  </body>
</html>
