<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Vidu</title>
  </head>

  <body>
    <h1 style="color: red; text-align: center">This is some big html doc</h1>
    <h2 style="color: aqua">Here is a render template test</h2>
    <p style="color: blue">This is a blue text</p>
    <table border="1">
      <tr>
        <th>Day</th>
      </tr>
      <tr>
        <td style="color: green">Thursday</td>
      </tr>
    </table>
  </body>
</html>
