<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>calc</title>
  </head>
  <body>
    <h1 style="text-align: center">Here is the result of your calculation</h1>
    <table border="1" style="border: 20px dotted cadetblue>
      <tr style="color: blueviolet">
        <th>op</th>
        <th>arg1</th>
        <th>arg2</th>
        <th>result</th>
      </tr>
      <tr style="color: brown">
        <td>{{ op }}</td>
        <td>{{ a }}</td>
        <td>{{ b }}</td>
        <td style="color: green; font-weight: bold; font-family: cursive">{{ result }}</td>
      </tr>
    </table>
  </body>
</html>
